@charset "UTF-8";
/*Estilos Generales + imports*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/*Empieza Botón UP*/
.top {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  border-radius: 50%;
  border: white solid 0.1rem;
  width: 2rem;
  height: 2rem;
  background-color: #187f83;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; }

.top:hover {
  background-color: white;
  border: #187f83 solid 0.1rem;
  color: #187f83; }

/*Termina Botón UP*/
/*Empieza Botón Comprar*/
.botonComprar, .botonContacto {
  display: inline-block;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  font-family: "Klee One", cursive;
  background-color: #187f83;
  padding: 0.2rem 1rem;
  border: #187f83 1px solid;
  border-radius: 2rem;
  transition: transform .3s ease-in-out; }

.botonComprar:hover, .botonContacto:hover {
  background-color: white;
  color: #187f83;
  transform: scale(1.2); }

.botonContacto {
  color: #187f83;
  background-color: #9cdab1; }

.botonContacto:hover {
  background-color: #187f83;
  color: white; }

#tituloOculto {
  display: none; }

.portada {
  display: flex;
  flex-direction: column; }
  .portada div.active {
    border: none; }
  .portada img {
    width: 100%; }
  .portada div {
    background: linear-gradient(#78c7b4, #b6eea5);
    width: 100%; }
    .portada div p {
      font-family: "Kaushan Script", cursive;
      padding: 1rem;
      margin: 1rem 0;
      color: white;
      font-size: 1.75rem;
      font-weight: 400;
      line-height: 2rem;
      letter-spacing: 0.1rem;
      text-shadow: #74ada4 1px 1px; }

.alineacion {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .alineacion div.contenedormvv {
    margin: 3rem 0;
    width: 70%;
    display: flex;
    flex-direction: column;
    border: #78c7b4 0.2rem double;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px; }
    .alineacion div.contenedormvv div {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 1rem 0; }
      .alineacion div.contenedormvv div img {
        width: 7rem; }
      .alineacion div.contenedormvv div h2 {
        font-size: 1.5;
        margin: 0.2rem 0; }
      .alineacion div.contenedormvv div p {
        display: block;
        width: 85%;
        font-size: 1rem;
        text-align: justify; }
  .alineacion .contenedorMarcas {
    width: 80%;
    flex-wrap: nowrap;
    margin: 2rem auto;
    font-size: 1.75rem;
    font-style: oblique; }
    .alineacion .contenedorMarcas div {
      width: 100%;
      margin: auto;
      padding: 1rem 0; }
      .alineacion .contenedorMarcas div img {
        height: 6rem;
        border-radius: 100%;
        margin: 1rem; }

/*Empieza MediaQuery min 576px*/
@media only screen and (min-width: 576px) {
  .portada div p {
    padding: 1.5rem;
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: 0.2rem; }
  .alineacion div.contenedormvv div h2 {
    font-size: 2rem;
    margin: 0.2rem 0; }
  .alineacion div.contenedormvv div p {
    font-size: 1.25rem;
    margin: 1rem; }
  .alineacion .contenedorMarcas div {
    padding: 1.5rem 0; }
    .alineacion .contenedorMarcas div img {
      height: 7rem;
      margin: 2rem; } }

/*Termina MediaQuery min 576px*/
/*Empieza MediaQuery min 768px*/
@media only screen and (min-width: 768px) {
  .portada div p {
    font-size: 2.3rem;
    line-height: 3rem;
    letter-spacing: 0.3rem;
    text-shadow: #74ada4 1.5px 1.5px; }
  .alineacion div.contenedormvv div img {
    width: 8rem;
    margin: 1.5rem; }
  .alineacion div.contenedormvv div h2 {
    font-size: 2.25rem;
    margin: 0.2rem 0; }
  .alineacion div.contenedormvv div p {
    font-size: 1.5rem;
    margin: 1rem; }
  .alineacion .contenedorMarcas div {
    padding: 2rem 0; }
    .alineacion .contenedorMarcas div img {
      height: 8rem;
      margin: 2.5rem; } }

/*Termina MediaQuery min 768px*/
/*Empieza MediaQuery min 1024px*/
@media only screen and (min-width: 1024px) {
  .portada {
    flex-direction: row;
    align-items: center;
    background: linear-gradient(#78c7b4, #b6eea5); }
    .portada div {
      background: none; }
      .portada div p {
        font-size: 2rem;
        line-height: 2.5rem;
        letter-spacing: 0.2rem;
        margin: 0 1rem;
        padding: 0; }
  .alineacion div.contenedormvv {
    flex-direction: row;
    margin: 3rem 0;
    width: 75%;
    border: #78c7b4 0.4rem double;
    align-items: flex-start; }
    .alineacion div.contenedormvv div img {
      width: 8rem;
      margin: 1.2rem; }
    .alineacion div.contenedormvv div h2 {
      font-size: 1.75rem;
      margin: 0.2rem 0; }
    .alineacion div.contenedormvv div p {
      font-size: 1.25rem;
      margin: 1rem; }
  .alineacion .contenedorMarcas {
    width: 90%; }
    .alineacion .contenedorMarcas div {
      width: 90%;
      padding: 1rem 0; }
      .alineacion .contenedorMarcas div img {
        height: 9rem;
        margin: 2.5rem; } }

/*Termina MediaQuery min 1024px*/
/*Empieza MediaQuery min 1200*/
@media only screen and (min-width: 1200px) {
  .portada div p {
    font-size: 2.3rem;
    line-height: 3rem;
    letter-spacing: 0.3rem;
    text-shadow: #74ada4 1.5px 1.5px;
    margin: 0 2rem;
    padding: 0; } }

/*Termina MediaQuery min 1200*/
div.formato {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center; }

.form {
  width: 90%;
  line-height: 2rem;
  border: #78c7b4 1px solid;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px; }

div.padre {
  display: flex;
  flex-direction: column;
  align-items: center; }
  div.padre div.hijo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 2rem 0; }
    div.padre div.hijo form {
      width: 100%;
      height: 100%;
      background-color: #9cdab1;
      border-bottom-right-radius: 20px;
      border-top-left-radius: 20px;
      background-color: #9cdab1;
      display: flex;
      flex-direction: column;
      align-items: center; }
    div.padre div.hijo div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%; }
    div.padre div.hijo div.map {
      width: 100%;
      height: 100%;
      margin: 1rem;
      justify-content: center; }
      div.padre div.hijo div.map iframe.mapa {
        display: block;
        width: 100%;
        height: 250px;
        margin: 1rem auto;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 10px; }

/*Empieza MediaQuery min 768*/
@media only screen and (min-width: 768px) {
  div.padre {
    margin: 2rem;
    margin: 1.5rem; }
    div.padre h1 {
      display: none; }
    div.padre div.hijo {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      width: 100%;
      height: 630px;
      box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
      border-top-left-radius: 20px;
      border-bottom-right-radius: 20px; }
      div.padre div.hijo form {
        width: 100%;
        background-color: #9cdab1;
        border-bottom-right-radius: 0px;
        border-top-left-radius: 20px;
        background-color: #9cdab1;
        display: flex;
        flex-direction: column;
        justify-content: center; }
      div.padre div.hijo div {
        width: 100%; }
      div.padre div.hijo div.map {
        width: 100%;
        margin: 0;
        height: 100%;
        justify-content: center; }
        div.padre div.hijo div.map iframe.mapa {
          width: 100%;
          height: 100%;
          border-bottom-right-radius: 20px;
          border-top-left-radius: 0px; } }

/*Termina MediaQuery min 768*/
/*Empieza MediaQuery min 1200*/
@media only screen and (min-width: 1200px) {
  div.padre div.hijo {
    width: 80%; } }

/*Termina MediaQuery min 1200*/
div.contePadre {
  display: flex;
  flex-direction: column;
  align-items: center; }
  div.contePadre div.conteHijo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 2rem 0; }
    div.contePadre div.conteHijo div.cardsContainer {
      column-gap: 1rem;
      margin-bottom: 1rem;
      border: #187f83 1px solid;
      border-top-left-radius: 20px;
      border-bottom-right-radius: 20px; }
      div.contePadre div.conteHijo div.cardsContainer img {
        margin-top: 0.7rem;
        border-top-left-radius: 19px; }

/*Empieza MediaQuery min 768*/
@media only screen and (min-width: 768px) {
  div.contePadre h1 {
    display: none; }
  div.contePadre div.conteHijo {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center; }
    div.contePadre div.conteHijo div.cardsContainer {
      margin: 1rem; } }

/*Termina MediaQuery min 768*/
.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  width: 95%;
  margin: auto;
  padding: 2rem 0;
  grid-gap: 1.5rem;
  overflow: hidden; }
  .galeria a {
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem; }
    .galeria a img {
      width: 100%;
      vertical-align: top;
      height: 300px;
      object-fit: cover;
      transition: transform 0.5s; }
  .galeria a:hover img {
    filter: blur(2px);
    transform: scale(1.3); }

.light-box {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform .3s ease-in-out;
  transform: scale(0); }
  .light-box img {
    width: 100%;
    max-height: 70vh; }
  .light-box .arrowr, .light-box .arrowl, .light-box .close {
    display: block;
    color: white;
    height: 2rem;
    width: 2rem;
    position: absolute;
    right: 1vw;
    top: 48vh;
    margin: 0.5rem;
    text-align: center;
    text-decoration: none;
    line-height: 30px;
    border-radius: 50%; }
  .light-box .arrowl {
    right: unset;
    left: 1vw; }
  .light-box .close {
    top: 2rem;
    right: 2rem;
    background-color: #78c7b4; }
  .light-box .arrowr:hover, .light-box .arrowl:hover, .light-box .close:hover, .light-box .arrowl:hover, .light-box .close:hover {
    color: #187f83;
    background-color: rgba(255, 255, 255, 0.75); }

.light-box:target {
  transform: scale(1); }

/*Empieza MediaQuery min 768*/
@media only screen and (min-width: 768px) {
  div.contPadre {
    display: none; }
  .galeria {
    margin: 2rem; }
  .light-box img {
    max-width: max-content; } }

/*Termina MediaQuery min 768*/
div.grilla {
  width: 100%;
  justify-content: center;
  margin: 4rem 0;
  animation-name: aparece;
  animation-duration: 3s; }
  div.grilla div img.fotoGrilla {
    width: 80%;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    filter: drop-shadow(0px 0px 10px #0b3335); }
  div.grilla div h2.nombre {
    font-family: "Kaushan Script", cursive;
    font-size: 3rem;
    text-align: center;
    margin: 2rem 0;
    padding-top: 1rem; }
  div.grilla div div ul.descripcion {
    width: 80%;
    list-style-type: disc;
    font-size: 1.25rem;
    text-align: justify;
    color: #187f83;
    line-height: 1.75rem;
    margin: 2% auto; }
    div.grilla div div ul.descripcion li {
      margin-bottom: 1rem; }

@keyframes aparece {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@media only screen and (min-width: 992px) {
  div.contePadre {
    justify-items: center; }
    div.contePadre div.grilla {
      display: grid;
      width: 98%;
      grid-template-columns: 48% 48%;
      grid-template-rows: 20% 80%;
      grid-template-areas: "img nombre"  "img texto";
      column-gap: 1rem; }
      div.contePadre div.grilla div img.fotoGrilla {
        width: 98%; }
      div.contePadre div.grilla div h2.nombre {
        font-family: "Kaushan Script", cursive;
        font-size: 2rem;
        margin: 0;
        padding: 1rem 1rem 1rem 3rem; }
      div.contePadre div.grilla div div ul.descripcion {
        width: 85%;
        font-size: 1rem;
        line-height: 1.25rem;
        margin: 2% auto; } }

@media only screen and (min-width: 1200px) {
  div.contePadre div.grilla div h2.nombre {
    font-family: "Kaushan Script", cursive;
    font-size: 2.5rem;
    margin: 0;
    padding: 1rem 1rem 1rem 3rem; }
  div.contePadre div.grilla div div ul.descripcion {
    width: 85%;
    font-size: 1.25rem;
    line-height: 1.50rem;
    margin: 2% auto; } }

@media only screen and (min-width: 1400px) {
  div.contePadre {
    display: flex;
    align-items: center; }
    div.contePadre div.grilla div h2.nombre {
      font-family: "Kaushan Script", cursive;
      font-size: 3rem;
      margin: 0;
      padding: 1rem 1rem 1rem 3rem; }
    div.contePadre div.grilla div div ul.descripcion {
      width: 85%;
      font-size: 1.5rem;
      line-height: 1.755rem;
      margin: 2% auto; } }

div.contenedorPadre {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center; }
  div.contenedorPadre h1 {
    color: white;
    padding: 1rem 0;
    display: inline-block;
    width: 100%;
    margin-bottom: 1rem;
    background-color: #78c7b4; }
  div.contenedorPadre div.contenedorHijo {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center; }
    div.contenedorPadre div.contenedorHijo div.contenedoresTtos {
      display: flex;
      flex-direction: column;
      margin: 1.5rem auto; }
      div.contenedorPadre div.contenedorHijo div.contenedoresTtos h2.subtitulo {
        font-size: 1.75rem; }
      div.contenedorPadre div.contenedorHijo div.contenedoresTtos section {
        width: 70%;
        margin: 1rem auto;
        display: flex;
        flex-direction: column;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border: #187f83 double 0.25rem; }
        div.contenedorPadre div.contenedorHijo div.contenedoresTtos section img {
          width: 70%;
          margin: 1.25rem auto; }
        div.contenedorPadre div.contenedorHijo div.contenedoresTtos section div {
          margin: 1rem auto; }
          div.contenedorPadre div.contenedorHijo div.contenedoresTtos section div h3 {
            font-weight: 400;
            font-size: 1.5rem;
            font-family: "Kaushan Script", cursive; }
          div.contenedorPadre div.contenedorHijo div.contenedoresTtos section div p {
            font-weight: 600;
            font-size: 1rem;
            color: #1a969b;
            padding: 1.5rem;
            text-align: center;
            margin: 0; }

/*Empieza MediaQuery min 768*/
@media only screen and (min-width: 768px) {
  div.contenedorPadre h1 {
    display: none; }
  div.contenedorPadre div.contenedorHijo div.contenedoresTtos h2.subtitulo {
    font-size: 2rem; }
  div.contenedorPadre div.contenedorHijo div.contenedoresTtos section div h3 {
    font-size: 1.75rem; }
  div.contenedorPadre div.contenedorHijo div.contenedoresTtos section div p {
    font-size: 1.25rem; } }

/*Termina MediaQuery min 768*/
/*Empieza MediaQuery min 992*/
@media only screen and (min-width: 992px) {
  div.contenedorPadre div.contenedorHijo div.contenedoresTtos h2.subtitulo {
    font-size: 2.5rem; }
  div.contenedorPadre div.contenedorHijo div.contenedoresTtos section {
    width: 70%;
    margin: 1rem auto;
    flex-direction: row;
    align-items: center; }
    div.contenedorPadre div.contenedorHijo div.contenedoresTtos section img {
      width: 50%;
      margin: 1rem; }
    div.contenedorPadre div.contenedorHijo div.contenedoresTtos section div {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 1rem auto; }
      div.contenedorPadre div.contenedorHijo div.contenedoresTtos section div h3 {
        margin: 1rem;
        font-size: 2rem; }
      div.contenedorPadre div.contenedorHijo div.contenedoresTtos section div p {
        font-size: 1.5rem; } }

/*Termina MediaQuery min 992*/
/*Empieza MediaQuery min 1200*/
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  div.contenedorPadre div.contenedorHijo div.contenedoresTtos h2.subtitulo {
    font-size: 2.5rem; }
  div.contenedorPadre div.contenedorHijo div.contenedoresTtos section {
    width: 60%;
    margin: 1.5rem auto; }
    div.contenedorPadre div.contenedorHijo div.contenedoresTtos section img {
      width: 50%;
      margin: 2rem; }
    div.contenedorPadre div.contenedorHijo div.contenedoresTtos section div {
      margin: 1.5rem auto; }
      div.contenedorPadre div.contenedorHijo div.contenedoresTtos section div h3 {
        margin: 1.5rem; } }

/*Termina MediaQuery min 1200*/
footer {
  background: linear-gradient(#78c7b4, #b6eea5);
  border-top: solid 0.5rem #78c7b4; }
  footer nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0; }
    footer nav ul li a i {
      font-size: 2rem;
      color: white;
      margin: 1rem;
      transition: 1s all; }
  footer h6 {
    font-size: 0.75rem;
    font-weight: 400;
    padding-bottom: 0.5rem;
    text-align: center;
    line-height: 1rem; }

#face:hover {
  color: #3b5998; }

#ig:hover {
  color: #C13584; }

#wa:hover {
  color: #25d366; }

#mail:hover {
  color: blue; }

#map:hover {
  color: #db4437; }

header, main {
  font-family: "Klee One", cursive;
  color: #187f83;
  text-align: center; }

h1 {
  color: white;
  padding: 1rem 0;
  display: inline-block;
  width: 100%;
  background-color: #78c7b4; }

h2 {
  color: #78c7b4; }

h6 {
  margin: 0 !important; }

/* Fin de Estilos Generales + imports*/
/*Empieza Header-nav*/
#logo {
  height: 20vw; }

/*Termina Header*/
.fuenteAdicional {
  font-family: "Kaushan Script", cursive; }

/*Empieza MQ de Nav*/
@media only screen and (min-width: 768px) {
  #logo {
    margin: 0;
    margin-bottom: 0.5rem;
    height: 11rem; }
  #contenedorGral {
    padding: 0;
    display: flex;
    flex-direction: column; }
  #menuNavegacion {
    background-color: #78c7b4;
    width: 100%;
    height: 3rem; }
  .navbar-nav {
    width: 100%;
    padding: 0;
    justify-content: center; }
  .nav-item {
    display: flex;
    justify-content: center; }
  .nav-link {
    color: white !important;
    font-size: 1.5rem;
    padding: 0.3rem !important; }
  .nav-link:hover {
    background: #1a969b;
    color: white !important;
    border-bottom: 0.1rem #78c7b4 solid;
    border-top: 0.1rem #78c7b4 solid; }
  .active {
    color: #78c7b4 !important;
    background-color: white;
    border: 0.1rem #78c7b4 solid;
    border-bottom: 0.1rem white solid;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem; } }

/*Termina MQ de Nav*/
@media only screen and (min-width: 1024px) {
  .top {
    border-width: 0.2rem;
    font-size: 1.5rem;
    width: 3rem;
    height: 3rem; } }

@media only screen and (min-width: 1200px) {
  .top {
    right: 3rem;
    bottom: 3rem;
    font-size: 1.5rem;
    width: 3.5rem;
    height: 3.5rem; } }
