/*Empieza Botón UP*/

.top{ 
    @include formatoBoton($colorCero, $colorCuatro, 50%, $borderCero,flex);
    @include posicion(fixed,initial, 1.5rem, 1.5rem, initial);
    @include contenedoresAltoDefinido (2.5rem, 2.5rem,); //tamaño botón
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.top:hover{
    @include botonHover ($colorCuatro,$colorCero,$borderCuatro,$transition) 
}

/*Termina Botón UP*/


/*Empieza Botones Productos y Contacto*/

.botonComprar{
    @include formatoBoton($colorCero, $colorCuatro, 2rem, $borderCuatro,inline-block);
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.2rem 1rem;
    transition: $transition ease-in-out ;
}

.botonComprar:hover{
    @extend .top:hover;
    transform:scale(1.2);
}

.botonContacto{
    @extend .botonComprar;
    color:$colorCuatro;
    background-color:$colorBgContacto;
}

.botonContacto:hover{
    @include botonHover ($colorCero, $colorCuatro,initial,scale(1.2));
}

/*Termina Botones Productos y Contacto*/


/* Empieza MediaQuery botón UP*/

@media only screen and (min-width: 768px) {
    .top{
        @include posicion (fixed,initial, 2rem, 2rem, initial);
        @include contenedoresAltoDefinido (3rem, 3rem); //tamaño botón
        font-size: 1.25rem;
        border-width: 0.2rem;
    }
}

@media only screen and (min-width: 1024px) {
    .top{
        @include contenedoresAltoDefinido (4rem, 4rem); //tamaño botón
        font-size: 1.5rem;
    }
}
/* Termina MediaQuery botón UP*/