#hijo-c{
    @include contenedores (75%,3rem,$borderRadTopBottom);
    box-shadow:$shadow;

    form{
        @include contenedores (100%,auto,$borderTopLeft);
        background-color:$colorBgContacto;
        justify-content: center;
        
        .formato{
            @include contenedorFlex (flex, column, center, center);

            .campos{
                @include contenedores (70%,unset,$borderRadTopBottomCampos);
                line-height: 2rem;
                border:$borderUno;
            }
        }
    }
    .contenedorMapa{
        @include contenedoresAltoDefinido (100%,250px);
        
        .mapa{
            @include contenedoresAltoDefinido (100%,100%);
            border-radius:$borderBottomRigth;
        }
    }  
}

/*Empieza MediaQuery min 768*/
@media only screen and (min-width: 768px){
    #hijo-c{
        @include contenedoresAltoDefinido (90%,590px);
        flex-direction: row;
        animation: $animation;

        form{
            @include contenedoresAltoDefinido (50%,100%);
            @include contenedorFlex (flex, column, center, center);
            .formato{
                width: 100%;
            }
        }
        .contenedorMapa{
            @include contenedoresAltoDefinido (50%,100%);
            .mapa{
                height: 100%;
            }
        } 
    }
}

/*Termina MediaQuery min 768*/