div.formato{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.form{
    width: 90%;
    line-height: 2rem;
    border: $colorUno 1px solid;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    
}

div.padre{
    display: flex;
    flex-direction: column;
    align-items: center;

    div.hijo{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin: 2rem 0;
        
        form{
            width: 100%;
            height: 100%;
            background-color: $colorBgContacto;
            border-bottom-right-radius: 20px;
            border-top-left-radius: 20px;
            background-color:$colorBgContacto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        div{
            display:flex;
            justify-content: center;
            align-items: center; 
            width: 100%;
        }

        div.map{
            width: 100%;
            height: 100%;
            margin:1rem;
            justify-content: center;
            iframe.mapa{
                display: block;
                width: 100%;
                height: 250px;
                margin:1rem auto;
                border-bottom-right-radius:10px;
                border-top-left-radius:10px;
            }
        }
    }
}

/*Empieza MediaQuery min 768*/
@media only screen and (min-width: 768px) {
    div.padre{
        margin: 2rem; 
        margin:1.5rem;
        h1{
            display:none;
        }
        div.hijo{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;      
            width: 100%;
            height: 630px;
            box-shadow: 0 0 .5rem rgba(0,0,0, .5);
            border-top-left-radius: 20px;
            border-bottom-right-radius: 20px;

            form{
                width: 100%;
                background-color: $colorBgContacto;
                border-bottom-right-radius: 0px;
                border-top-left-radius: 20px;
                background-color:$colorBgContacto;
                display: flex;
                flex-direction: column;    
                justify-content: center;
            }

            div{
                width: 100%;
               
            }
    
            div.map{
                width: 100%;
                margin:0;
                height: 100%;
               
                justify-content: center;
                iframe.mapa{
                    width: 100%;
                    height: 100%;
                    border-bottom-right-radius:20px;
                    border-top-left-radius:0px;
                }
            }
        }
    }
}   
/*Termina MediaQuery min 768*/



/*Empieza MediaQuery min 1200*/
@media only screen and (min-width: 1200px) {
   
    div.padre{
        div.hijo{     
            width: 80%;
        }    
    }
}
/*Termina MediaQuery min 1200*/