.galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    margin: 1.5rem;
    padding: 1rem 0;
    grid-gap: 1.5rem;
    overflow: hidden;

    a{
        display: block;
        width: 100%;
        position: relative;
        overflow: hidden;
        box-shadow: $shadow;
        border-radius:$borderRadTopBottom;

        img{
            @include contenedoresAltoDefinido (100%, 300px);
            vertical-align: top;
            object-fit: cover;
            transition: $transition;
        }
    }

    a:hover img{
        filter: blur(2px);
        transform: scale(1.3);
    }
}

.light-box{
    @include contenedoresAltoDefinido (100%, 100vh);
    @include posicion (fixed, 0, initial, initial, 0);
    @include display (flex, column, center, unset, unset, center);
    background: $shadowColor;
    z-index: 1000;
    transition: $transition ease-in-out;
    transform: scale(0);
    
    img{
        width: 100%;
        max-height: 70vh;
    }

    p{
        text-transform: uppercase;
        font-weight: bolder;
        color: $colorCero;
        margin: 1rem 0;
    }
    
    .arrowr{
        @include posicion (absolute, 48vh, 1vw, initial, initial);
        display: block;
        color:$colorCero;
        height: 2rem;
        width: 2rem;
        margin:0.5rem;
        text-align: center;
        line-height: 30px;
        border-radius: 50%;
    }
    .arrowl{
        @extend .arrowr;
        right:unset;
        left:1vw;
    }

    .close{
        @extend .arrowr;
        top: 2rem;
        right: 2rem;
        background-color: $colorUno;
    }

    .arrowr:hover, .arrowl:hover, .close:hover{
        color: $colorCuatro;
        background-color: $colorCero;
        opacity: .75;
    }
}

.light-box:target{
    transform: scale(1);
}

/*Empieza MediaQuery min 768*/
@media only screen and (min-width: 768px) {
    div.contPadre{
        display:none;
    }
    .galeria{
        margin:2rem;
        
    }
    .light-box{
        img{
            max-width: max-content;
        }
    }
}
/*Termina MediaQuery min 768*/



 