#tituloOculto{
    display: none;
}

.portada{
    display:flex;
    flex-direction:column;
    div.active{
        border:none
    }
    img{
        width: 100%;
    }
    div{
        background:linear-gradient($colorUno,$colorDos); 
        width:100%;
        p{
            font-family: $fontSpecial;
            padding: 1rem;
            margin:1rem 0;
            color:$colorCero;
            font-size: 1.75rem;
            font-weight: 400;
            line-height: 2rem;
            letter-spacing: 0.1rem;
            text-shadow: $colorSombra 1px 1px;
        }
    }
}

.contenedormvv{
    margin: 3rem auto;
    width:70%;
    display: flex;
    flex-direction: column;
    border:$specialBorder;
    border-radius:$borderRadTopBottom;
    
    div{
        width:100%;
        margin: 1rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
            width: 6rem;
            margin: 0;
        }
        p{
            display: block;
            width:85%;
            font-size: 1rem;
            text-align: justify; 
        }
    }
}

.contenedorMarcas{
    width: 80%;
    margin: 2rem auto;
    flex-wrap: nowrap; 
    font-size: 1.75rem;
    font-style: oblique;
    font-weight: 600; 

    .contenedorLogos{
        width: 100%;
        margin: auto;
        padding: 1rem 0;

        .marcas{
            border-radius: 50%;
            height: 6rem;
            margin:1rem;
        }
    }
}


/*Empieza MediaQuery min 576px*/

@media only screen and (min-width: 576px) {

    .portada{
        div{
            p{ 
                padding: 1.5rem;
                font-size: 2rem;
                line-height: 2.5rem;
                letter-spacing: 0.2rem;
            }
        }  
    }

    .contenedormvv{
        div{
            h2{
                font-size: 2rem;
                margin: 0.2rem 0;
            }
            p{
                font-size: 1.25rem;
                margin:1rem;
            }
        }
    }
    .contenedorMarcas{
        .contenedorLogos{
            padding: 1.5rem 0;
            .marcas{
                height: 7rem; 
            }
        }
    }
}
/*Termina MediaQuery min 576px*/


/*Empieza MediaQuery min 768px*/
@media only screen and (min-width: 768px) {

    .portada{
        margin-top:0.5rem;
        div{
            p{ 
                font-size: 2.3rem;
                line-height: 3rem;
                letter-spacing: 0.3rem;
                text-shadow: $colorSombra 1.5px 1.5px;
            }
        } 
    }

    .contenedormvv{
        flex-direction: row;
        width:85%;
        align-items: flex-start;
        margin: 3.5rem auto;
        
        div{
            padding:0 1rem;
            img{
                width: 7rem;
                margin: 0.5rem;
            }
            h2{
                font-size: 2rem;
                margin: 0.2rem 0;
            }
            p{
                font-size: 1.3rem;
                margin:1rem;
                text-align: center;
            }
        }
    }

    .contenedorMarcas{
        .contenedorLogos{
            padding: 2rem 0;
            .marcas{
                height: 8rem;
                margin:2.5rem;
            }
        }
    }  
}
/*Termina MediaQuery min 768px*/


/*Empieza MediaQuery min 1024px*/
@media only screen and (min-width: 1024px) {

    .portada{
        flex-direction:row;
        align-items: center;
        background:linear-gradient($colorUno,$colorDos);

        div{
            background:none;
        
            p{  
                font-size: 2rem;
                line-height: 2.5rem;
                letter-spacing: 0.2rem;
                margin:0 1rem;
                padding:0;
            }
        }
    }

    .contenedormvv{
        margin: 5rem auto;
        border:$colorUno 0.4rem double;
        align-items: flex-start;
        div{
            h2{
                font-size: 2.25rem;
                margin: 0.2rem 0;
            }
        }
    } 

    .contenedorMarcas{
        width: 90%;
        .contenedorLogos{
            width: 90%;
            padding: 1rem 0;
            .marcas{
                height: 9rem;
                margin:2.5rem;
            }
        }
    }   
}
/*Termina MediaQuery min 1024px*/