#hijo-p{
    margin:1.5rem;
    .cardsContainer{
        column-gap: 1rem;
        margin: 1rem auto;
        border:$borderCuatro;
        border-radius:$borderRadTopBottom;
        
        img{
            margin-top:0.7rem;
            border-radius:$borderRadTopBottomMed;
        }
    }
}

/*Empieza MediaQuery min 768*/
@media only screen and (min-width: 768px) {
    
    #hijo-p{
        flex-direction: row;
        width: 95%;
        
        .cardsContainer{
            margin:1rem;
        }
    }   
}
/*Termina MediaQuery min 768*/