div.contePadre{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h1{
        color: $colorCero;
        padding:1rem 0;
        display: inline-block;
        width: 100%;
        margin-bottom:1rem;
        background-color: $colorUno;
        text-align: center;
    }

    div.conteHijo{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;

        div.cardsContainer{
            column-gap: 1rem;
            margin-bottom: 1rem;
            border:$colorCuatro 1px solid;
            border-top-left-radius:20px;
            border-bottom-right-radius:20px;
            
            img{
                margin-top:0.7rem;
                border-top-left-radius:19px;
            }
        }
    }
}


/*Empieza MediaQuery min 768*/
@media only screen and (min-width: 768px) {
    
    div.contePadre{
        margin: 2rem; 
        h1{
            display:none;
        }
        div.conteHijo{
            flex-direction: row;
            align-items: flex-start;
            justify-content: center;
            div.cardsContainer{
                margin:1rem;
            }
        }     
    } 
}
/*Termina MediaQuery min 768*/