.sobre{
    @include display (flex, column, center, unset, unset, center);
    margin:3rem auto;
    animation: $animation;
    
    .foto{
        width: 80%;
        border-radius: $borderRadTopBottom;
        filter:drop-shadow(0px 0px 10px $shadowColor);
    }   
    
    .nombre{
        font-family: $fontSpecial;
        font-size: 1.75rem;
        text-align: center;
        margin:1rem 0;
        padding-top:1rem;
    }

    .descripcion{
        width: 85%;
        margin: .5rem auto;
        padding-left:1.5rem;
        font-size: 1rem;
        line-height: 1.5rem;
        text-align: justify;
        color:$colorCuatro;
        li{
            margin-bottom:.5rem;
        }
    }       
}

@media only screen and (min-width: 768px){
    .sobre{
        width: 95%;
        .nombre{
            font-size: 2.25rem;
        }
        .descripcion{
            font-size: 1.25rem;
            line-height: 1.75rem;
        }      
    }  
}

@media only screen and (min-width: 992px){
    .sobre{
        @include display (grid, unset, center, center, center,flex-start);
        grid-template-columns: 47% 47%;
        grid-template-rows:15% 80%;
        grid-template-areas: "imagen titulo" 
                             "imagen texto";
        row-gap: 1rem;

        .foto{
            width: 90%;
            height: auto;
            grid-area: imagen;
            border-radius: 2rem;
            filter:drop-shadow(0px 0px 10px rgb(11, 51, 53));   
        }
        
        .nombre{
            grid-area: titulo;
            font-family: 'Kaushan Script', cursive;  
            padding-left: 2rem;
            align-self: center;
            justify-self: start;
        }

        div{
            grid-area: texto;
            .descripcion{
                font-weight: 600;
                font-size: 1.05rem;
            }   
        }  
    }  
}
