$colorCero:white;
$colorUno:rgb(120,199,180); //Oscuro Logo - BG Nav
$colorDos:rgb(182,238,165); //Claro Logo
$colorTres:rgb(26, 150, 155); //Hover Nav
$colorCuatro:rgb(24, 127, 131); //Fuentes - Bordes
$colorSombra: rgb(116, 173, 164);
$colorSombraSM: rgb(11, 51, 53);
$colorBgContacto:rgb(156,218,177); //Contacto

$colorFace:rgb(59,89,152);
$colorIg:#C13584;
$colorWa:rgb(37,211,102);
$colorMail:rgb(0,0,255);
$colorMaps:rgb(219,68,55);


$borderNavWidth:0.1rem;
$borderDesign:solid;
$borderRadius: 0.5rem;

$fontPpal: 'Klee One', cursive;
$fontSpecial: 'Kaushan Script', cursive;