/*Empieza Estilos Generales*/

@import "_variables";

header, main, footer{
    font-family: $fontPpal;
    color: $colorCuatro;
    text-align: center;
}

/*Termina Estilos Generales*/


/*Empieza mixins Varios*/

@mixin contenedores ($ancho, $margen,$bordeRadius){
    width: $ancho;
    margin: $margen;
    border-radius: $bordeRadius;
}

@mixin contenedorFlex ($display,$direction,$justify,$align){
    display:$display;
    flex-direction: $direction;
    justify-items: $justify;
    align-items: $align;
}

@mixin contenedoresAltoDefinido ($ancho, $alto){
    width: $ancho;
    height: $alto;
}

@mixin aHover ($color, $bgColor, $opacity, $transicion){
    color:$color;
    background-color: $bgColor;
    opacity: $opacity;
    transition: $transicion;
}

@mixin anclas ($color,$decoracion, $transformacion, $size, $padding){
    color:$color;
    text-decoration: $decoracion;
    text-transform: $transformacion;
    font-size: $size;
    padding: $padding;
}

@mixin formatoBoton($color, $bgcolor, $bordeRad, $border, $display){
    color:$color;
    background-color: $bgcolor;
    border-radius: $bordeRad;
    border: $border;
    display:$display;
}
    
@mixin posicion ($position,$top, $right, $bottom, $left){
    position:$position;
    top:$top;
    right: $right;
    bottom:$bottom;
    left:$left;
}

@mixin botonHover ($color,$bgColor,$borde,$transicion){
    color:$color;
    background-color: $bgColor;
    border: $borde;
    transition: $transicion;
}

@mixin display ($display, $direction, $jcontent, $acontent, $jitems, $aitems){
    display:$display;
    flex-direction: $direction;
    justify-content: $jcontent;
    align-content:$acontent;
    justify-items:$jitems;
    align-items: $aitems;
}
    

/*Fin de mixins Varios*/


/*Comienza Animacion*/

@keyframes aparece{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}
/*Fin de Animación*/


/*Imports*/

@import "layout";
@import "_botones";
@import "_index";
@import "_tratamientos";
@import "_sobreMi";
@import "_galeria";
@import "_productos";
@import "_contacto";